*{
padding: 0; margin: 0;
box-sizing: border-box; 
text-decoration: none;
list-style: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family:'Work Sans', sans-serif;
}
:root{
 
    --h1-font:5rem;
    --h2-font:2.9rem;
    --p-font:1.1rem;
    --bg-color:#121b25;
    --text-color:#ffffff;
    --main-color:#1a090;
    --other-color:#d6d6d6;
    }
body{
    min-height: 100vh;
    background-color: #034544;
    background-size: cover;
    background-position: center;


}
header{
    position: fixed;
    top:0; left: 0;right: 0;
    background: #9aeff2;
    box-shadow: 0 5px 10px #034544;
    padding: 0px 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
}
/* logo */
header .logo{
    font-weight:bolder;
    font-size: 25px;
    color: #333;

}
/* navigation bar start*/
header .navbar ul{
    list-style: none;


}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
 font-size: 20px;
 padding: 20px;
 color:20px;
 color: #333;
 display: block;
}
header .navbar ul li a:hover{
    background:#034544;
    color: #fff;

}

header .navbar ul li ul{
    position: absolute;
    left:0px;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul{
    display: initial;
}




/* footer*/x
.fl{
    padding:80px 13% 70px;
   
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap:3.5rem;
    background: #1a242f;
    position: absolute;
    left: 0;
   
    display: flex;
}

.footer_con h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer_con li{
    margin-bottom: 16px;
}
.footer_con .logo{
    font-weight:bolder;
    font-size: 25px;
    color:#fff;
    margin-left: 20%;
    padding-top: 5%;

}
.footer_con li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

/*important*/
.footer_con li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:#fff;
}
.footer_con p{
    color:#d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icon a{
    display:inline-block;
    font-size: 30px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}
.icon a:hover{
    color:red;
    transform: translateY(-5px);
}
/*important*/
@media (max-width:1690px){
    section{
        padding:50px 5% 40Px;
    }
}
@media (max-width:1120px){
    .footer{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap:2rem;
    }
}
@media (max-width:1120px){
    .footer{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap:2rem;
    }
}