* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homes {
  position: relative;
  min-height: 100vh;
  background: white;
}

.homes h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.homes .img-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  position: relative; /* Add this for z-index stacking */
  z-index: 1; /* Add this for z-index stacking */
}

.homes .img-gallery .image {
  height: 250px;
  width: 350px;
  border: 10px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  position: relative; /* Add this for z-index stacking */
  z-index: 2; /* Add this for z-index stacking */
}

.homes .img-gallery .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.homes .img-gallery .image:hover {
  z-index: 3; /* Bring hovered image to the front */
}

.homes .img-gallery .image:hover img {
  transform: scale(1.1);
}

.homes .pop-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 4; /* Set a higher z-index for the pop-up */
  display: none;
}

.homes .pop-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 5; /* Set a higher z-index for the close button */
}

.homes .pop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 5px;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  z-index: 3; /* Set a z-index that allows it to display above other elements */
}

.about{
  padding:20px 70px 20px 30px;
  margin:10px 10px 5px 10px;
  font-size: 20px;
}
.des{
  padding:20px 100px 20px 50px;
  margin:5px 300px 20px 20px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.video{
  margin:10px 20px;
}

.java{
  background: rgb(174,238,232);
  background: radial-gradient(circle, rgba(174,238,232,1) 0%, rgba(15,185,201,1) 100%);
  width: 300px;
  height: 100px;
  font-size: 15px;
  margin: 0 20px;
  padding: 10px;
  font-family: cursive;
  color: whitesmoke;
}

.button-container {
  text-align: center; 
}

.Button {
  background-color: #3cb3af; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.Button:hover {
  background-color: #065f6e; 
}